{% extends 'base.html' %}
{% load static %}


{% block left_sidebar %}
{% include 'components/left_sidebar.html' %}
{% endblock left_sidebar %}


{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">{{ subtitle }} </h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nuevo Usuario</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}